@import "./Assets/Styles/Variables.scss";
@import "react-multi-carousel/lib/styles.css";

/* =================== Form - Start =================== */
.commonForm .ant-form-item .ant-form-item-label > label {
  color: var(--primaryText);
  font-weight: 400;
}

.commonForm .ant-input {
  height: 45px;
  border: 1px solid var(--border);
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}

.commonForm .ant-input-affix-wrapper {
  border: 1px solid var(--border);
  border-radius: 5px;
  height: 45px;
  padding: 5px 20px;
}

.commonForm .ant-picker {
  height: 45px;
  border: 1px solid var(--border);
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  width: 100%;
}

.commonForm .ant-input-affix-wrapper .ant-input {
  height: auto;
  font-size: 16px;
}

.commonForm .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primaryColor);
  border-color: var(--border);
}

.commonForm .ant-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.commonForm .ant-checkbox-wrapper {
  font-size: 14px;
  font-weight: 300;
}

.commonForm
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: var(--primaryColor);
}

.commonForm .ant-row {
  align-items: center;
  gap: 20px;
}

.commonForm .ant-form-item .ant-form-item-label > label::after {
  content: " ";
}

.commonForm .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

/* =================== Form - End =================== */
/* =================== Search - Start =================== */
.commonSearch.ant-input-group {
  border: 1px solid var(--secondaryColor);
  border-radius: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  border-right: 0;
  background-color: #fff;
}

.commonSearch .ant-input {
  border: 0;
  height: 48px;
  border-radius: 50px !important;
}

.commonSearch .ant-select {
  height: 38px;
  border: 0;
}

.commonSearch
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 0;
  background-color: transparent;
  border-radius: 50px;
}

.commonSearch button {
  border-radius: 0;
}

.commonSearch.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 0;
  background-color: transparent;
  color: var(--primaryText);
}

.commonSearch.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  padding: 0 16px;
}

.commonSearch.ant-select .ant-select-arrow {
  color: var(--primaryText);
}

/* =================== Search - End =================== */

/* =================== Collapse - Start =================== */

.commonCollapse.ant-collapse {
  background-color: #fff;
  border: 0;
}
.secondCollapse.ant-collapse {
  background: transparent !important;
}
.commonCollapse.ant-collapse > .ant-collapse-item {
  border: 0;
}

.commonCollapse.ant-collapse .ant-collapse-content {
  border: 0;
}

.commonCollapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.commonCollapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 0;
}

.commonCollapse.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 12px 0;
  padding-top: 0;
}

.secondCollapse.ant-collapse > .ant-collapse-item {
  padding: 0 25px;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.secondCollapse.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-header-text {
  font-size: 16px;
  font-weight: 500;
}

/* =================== Collapse - End =================== */

/* =================== Badge - Start =================== */
.commonBadge.ant-badge .ant-badge-count {
  color: #fff;
  box-shadow: none;
}

.commonBadge.ant-badge .ant-badge-count {
  inset-inline-start: 0;
  inset-inline-end: inherit;
  transform: none;
  top: 25%;
  left: -10px;
}
/* =================== Badge - End =================== */

/* =================== Checkbox - Start =================== */

.commonCheckbox.ant-checkbox-wrapper {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 6px;
}

.commonCheckbox .ant-checkbox + span {
  padding-inline-start: 12px;
}

.commonCheckbox1.ant-checkbox-wrapper {
  font-size: 13px;
}

/* =================== Checkbox - End =================== */

/* =================== Slider - Start =================== */

.commonRange.ant-slider .ant-slider-track {
  background-color: var(--primaryColor);
}

.commonRange.ant-slider .ant-slider-rail {
  background-color: #d8d8d8;
  border-radius: 50px;
}

.commonRange.ant-slider-horizontal .ant-slider-rail {
  height: 7px;
}

.commonRange.ant-slider-horizontal .ant-slider-track {
  height: 7px;
}

.commonRange.ant-slider-horizontal .ant-slider-step {
  height: 7px;
}

.commonRange.ant-slider-horizontal .ant-slider-handle {
  inset-block-start: 2px;
}
/* =================== Slider - End =================== */

/* =================== Select - Start =================== */
.commonSelect1.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 0;
  font-size: 13px;
}

.commonSelect1.ant-select .ant-select-arrow {
  color: var(--primaryText);
}
/* =================== Select - End =================== */
/* =================== Segment - Start =================== */
.commonSegment.ant-segmented .ant-segmented-item-selected {
  background-color: #fff;
}
/* =================== Segment - End =================== */

/* =================== Start Rate - Start =================== */

.commonRate.ant-rate {
  color: var(--secondaryColor);
  font-size: 13px;
}

.commonRate.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 2px;
}

/* =================== Start Rate - End =================== */

/* =================== Breadcrumb - Start =================== */

.commonBreadcrumb.ant-breadcrumb {
  color: #000;
}
.commonBreadcrumb.ant-breadcrumb .ant-breadcrumb-separator {
  color: #000;
}
/* =================== Breadcrumb - End =================== */

.ant-input:focus,
.ant-input-focused,
.ant-select:focus {
  box-shadow: none;
}
